.section {
  padding-top: 200px;
  position: relative;
  padding-bottom: 200px;
}

.aboutmeheadliner {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
}

.aboutmeheadliner2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.aboutmetext {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
